.podium {
    text-align: center;
}
.podium div {
    width:230px;
    height:230px;
}
.top1 {
    margin:auto
}
.top2 {
    display:inline-block;
}
.top3 {
    display:inline-block;
}

.mesinputs {
    text-align: center;
    width: 10em !important;
}